body{
    background-image: url('rest...4....jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: bisque;
    font-style:normal ;
}
.navigation{
    text-align: center;
    margin-left: 10px;
}
a{
    color: rgb(219, 6, 6);
    display: inline;
    font-size:larger;
    padding: 10px 10px;
}
.admin{
    display: flex;
    gap: 20px;
    width: 150%;
    margin: 100px;
}
.members{
    background-color:rgb(74, 110, 120);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.members img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
footer{
    text-align: center;
    background-color: aquamarine;
    margin-top: 85px;
}