body{
    background-image: url('rest...3....jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-style: initial;
    text-align: center;
    color: rgb(21, 152, 222);
}
.navigation{
    text-align: center;
    margin-left: 10px;
}
a{
    color: rgb(26, 1, 1);
    display: inline;
    font-size:larger;
    padding: 10px 10px;
}
h2{
    text-align: center;
    font-style: inherit;
    font: size 40px;
    color: blue;
    margin-bottom: 15px;
}
p{
    text-align: center;
    font-style: italic;
    color: rgb(213, 10, 183);
}
footer{
    text-align: center;
    background-color: aquamarine;
    margin-top: 85px;
}
