
body{
    background-image: url('rest...2....jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-style: normal;
    color: cadetblue;
    margin-top: 20px;
    font-size: 40px;
}
.navigation{
    text-align: center;
    margin-left: 10px;
}
a{
    color: rgb(195, 177, 177);
    display: inline;
    font-size:larger;
    padding: 10px 10px;
    font-style: normal;
    font-size: 25px;
}
h1{
    background: none;
}
.menubar {
    display: flex;
    gap: 35px;
    width: 150%;
    margin: 100px;
}
.food {
    background-color: rgb(182, 162, 17);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    
}
.food img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
footer{
        background-color: rgb(101, 155, 132);
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 100px;

}