body{
    background-image: url('rest...1....jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
}
h1{
    font-style: initial;
    text-align: center;
    color: rgb(157, 3, 3);
}
.navigation{
    text-align: center;
    margin-left: 10px;
}
a{
    color: white;
    display: inline;
    font-size:larger;
    padding: 10px 10px;
}
h2{
    font-style: italic;
    font-size: 60px;
    margin-left: 10px;
}
h3{
    font-style: italic;
    font-size: 30px;
    margin-bottom: 250px;
    margin-left: 10px;
}
footer{
    text-align: center;
    color: brown;
    background-color: cyan;
}